.window {
    width: 100% !important;
		margin: 0 !important;
		padding-right: 176px !important; /* 168 + 8 */
}

.window-main-col {
	width: 95% !important;
}

.window-sidebar {
	position: absolute;
	right: 0;
}
